

  /* Diseño antes de la mediaqueries*/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url('/assets/img/39new.png');
    background-size: contain;          
    background-color: rgb(243, 227, 248);
    background-repeat: repeat;
  }

  main {
    flex: 1 0 auto;
  }

nav{
    background-image: url("../assets/img/fondo_rosa.png");
    background-size: cover;
    
}
.nav-wrapper{
    
    background-color: rgba(180, 180, 202, 0.5);
}
.sidenav{
    background-image: url("../assets/img/fondo_rosa.png");
    background-size: cover;
    
}



nav ul a {
  font-size: large;
}

.sidenav li a { 
  font-size: 20px;
  font-family:Arial, Helvetica, sans-serif
}

.sidenav .user-view .circle {
  height: 80px;
  width: 80px;
}

.sidenav .user-view .name{ 
  font-size: 20px;
  font-family:Arial, Helvetica, sans-serif
}

.sidenav .user-view .email {
  padding-bottom: 25px;
  font-weight: 300;
}

.slider .indicators .indicator-item.active {
 background-color:#954bd1
}

.parallax-container {
  height: 250px;
  
}

sobre_mimg{
    max-width: 300px;
    max-height: 300px;
    min-width: 300px;
    min-height: 300px;
}

footer{
    background-image: url("/assets/img/fondo_rosa.png");
    background-size: cover;
      
}

.animado {
  animation-name: aparecer;
  animation-duration: 1s;
  animation-timing-function: linear;
}

#mi_mirm{
  font-family:'Dancing Script', 'Pacifico', 'Great Vibes', 'Parisienne', cursive;
  font-size: 25px;
  overflow:hidden;
  animation: writeSignature 6s steps(500) backwards;
  animation-iteration-count: infinite;
}

.ss_card:hover{
  
  /* Estilos del ícono cuando el contenedor está en hover */
  transition: box-shadow 0.5s; /* Aplicar la animación al ícono */
}

.ss_card:hover {
  /* Estilos del elemento cuando está en hover */
  box-shadow: 0 0 35px rgba(43, 5, 78, 0.7); /* Agrega un resplandor al pasar el mouse */
  /* Puedes ajustar el tamaño y color del resplandor según tus preferencias */
  animation: animacionFlechaCont 1s;
  animation-duration: infinite;
}

.divider {
  width: 100%;
  height: 2px; /* Altura del divisor */
  background-color: #080808; /* Color del divisor */
  margin: 50px 0; /* Margen superior e inferior para espaciarlo del contenido */
  opacity: 0.9; /* Opacidad del divisor (puedes ajustarla según tu preferencia) */
}


@keyframes animacionFlechaCont {
  /* Definición de la animación */
  0% {
    transform: scale(1); /* Estado inicial del ícono */
    
  }
  50% {
    transform: scale(1.1); /* Escala durante la mitad de la animación */
    
  }
  75% {
    transform: scale(1.1); /* Escala durante la mitad de la animación */
   
   } 

  100% {
    transform: scale(1); /* Estado final del ícono */
    
  }
}

.card:hover {
  background-color: #eed7f8; /* Cambia el color de fondo al hacer hover */
  color: #050505; /* Cambia el color del texto al hacer hover */

  
}

#tarjeta_color{
  background: linear-gradient(to bottom, hsla(283, 12%, 89%, 0.5), rgba(118, 11, 206, 0.5));
}

.card{
  border-radius: 10px;
}

/* Archivo CSS global o específico */
html {
  scroll-behavior: smooth;
}


/* aca esta el mail movimiento */
#id_mail {
  margin: 3px;
  display: flex;
  align-items: center;
  max-width: 170px;
  position: relative;
  animation-name: animed1;
  animation-duration: 5s;
  animation-iteration-count: infinite;

}

@keyframes animed1 {
  0%   {top:0px}
  25% {top:-3px}
  50%  {top:30px;}
  100% {top:0px;}


}
/* aca esta el linkedIn movimiento */
#id_link {
  margin: 3px;
  display: flex;
  align-items: center;
  max-width: 170px;
  position: relative;
  animation-name: animed2;
  animation-duration: 5s;
  animation-iteration-count: infinite;

}


@keyframes animed2{
  0%   {top:0px}
  25% {top:-3px}
  50%  {top:30px;}
  100% {top:0px;}

}
/* aca esta el github movimiento */


#id_git {
  margin: 3px;
  display: flex;
  align-items: center;
  max-width: 170px;
  position: relative;
  animation-name: animed3;
  animation-duration: 5s;
  animation-iteration-count: infinite;

}


@keyframes animed3{
  0%   {top:0px}
  25% {top:-3px}
  50%  {top:30px;}
  100% {top:0px;}

}


/* Estilos para dispositivos móviles */
@media screen and (max-width: 600px) {
    /* Tus estilos para dispositivos móviles aquí */
    .parallax, img{
      background-size: contain;
    }
    p{
        font-size: 18px;
    }
    li{
      font-size: 20px;
    }
  }

  /* Estilos para tabletas */
@media screen and (min-width: 601px) and (max-width: 992px) {
    /* Tus estilos para tabletas aquí */
    p{
        font-size: 18px;
    }
    li{
      font-size: 24px;
    }
  }

  /* Estilos para escritorio */
@media screen and (min-width: 993px) {
    /* Tus estilos para escritorio aquí */
    p{
        font-size: 18px;
    }
    li{
      font-size: 20px;
    }
  }