

  /* Diseño antes de la mediaqueries*/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url('/assets/img/39.png');
    background-size: contain;
    background-blend-mode:lighten;    
    background-color: rgb(246, 223, 253);
    background-repeat: repeat;
  }

  main {
    flex: 1 0 auto;
  }

nav{
    background-image: url("../assets/img/fondo_rosa.png");
    background-size: cover;
    
}
.nav-wrapper{
    
    background-color: rgba(180, 180, 202, 0.5);
}
.sidenav{
    background-image: url("../assets/img/fondo_rosa.png");
    background-size: cover;
    
}


footer{
    background-image: url("/assets/img/fondo_rosa.png");
    background-size: cover;
    
    
}


/* aca esta el cohete */
#rocket {
  z-index: -999;
  position: fixed;
  animation-name: rocket-animed;
  animation-duration: 15s;
  animation-iteration-count: infinite;

}

@keyframes rocket-animed {
  0%   {left:20px; top:20px;}
  10%  {color:#c29bf0;left:20px; top:80px;rotate: 10deg;}
  20%  {color:#b44d9e;left:20px;top:180px;rotate: 20deg;}
  30%  {color:#d474b4;left:20px; top:80px;rotate: 30deg;}
  40% {color:#ccf7f7;left:20px; top:400px;rotate: 50deg;}
  50%  {color:rgb(230, 238, 237);left:20px; top:200px;rotate: 60deg;}
  60% {color:#c983f1;left:20px; top:550px;rotate: 70deg;}
  70% {color:#b88ad3;left:20px; top:300px;rotate: 80deg;}
  80%  {color:rgb(233, 144, 218);left:20px; top:0px;rotate: 90deg;}
  90% {color:#ac82ce;left:20px;top:180px;rotate: 100deg;}
  100% {color:#c5a6bb;left:20px; top:20px;rotate: 0deg;}

}


/* Estilos para dispositivos móviles */
@media screen and (max-width: 600px) {
    /* Tus estilos para dispositivos móviles aquí */
    
    p{
        font-size: 18px;
    }
    li{
      font-size: 20px;
    }
  }

  /* Estilos para tabletas */
@media screen and (min-width: 601px) and (max-width: 992px) {
    /* Tus estilos para tabletas aquí */
    p{
        font-size: 18px;
    }
    li{
      font-size: 24px;
    }
  }

  /* Estilos para escritorio */
@media screen and (min-width: 993px) {
    /* Tus estilos para escritorio aquí */
    p{
        font-size: 18px;
    }
    li{
      font-size: 20px;
    }
  }