

  /* Diseño antes de la mediaqueries*/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url('/assets/img/39new.png');
    background-size: contain;           
    background-color: rgb(246, 223, 253);
    background-repeat: repeat;
  }

  main {
    flex: 1 0 auto;
  }

nav{
    background-image: url("/assets/img/fondo_rosa.png");
    background-size: cover;
    
}
.nav-wrapper{
    
    background-color: rgba(180, 180, 202, 0.5);
}
.sidenav{
    background-image: url("../assets/img/fondo_rosa.png");
    background-size: cover;
    
}


footer{
    background-image: url("../assets/img/fondo_rosa.png");
    background-size: cover;
    
    
}

#casa_home {
  font-size: 36px; /* Cambia el tamaño a tu preferencia */
}

/* Archivo CSS global o específico */
html {
  scroll-behavior: smooth;
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 600px) {
    /* Tus estilos para dispositivos móviles aquí */
    
    p{
        font-size: 17px;
    }
    li{
      font-size: 17px;
    }
  }

  /* Estilos para tabletas */
@media screen and (min-width: 601px) and (max-width: 992px) {
    /* Tus estilos para tabletas aquí */
    p{
        font-size: 18px;
    }
    li{
      font-size: 18px;
    }
  }

  /* Estilos para escritorio */
@media screen and (min-width: 993px) {
    /* Tus estilos para escritorio aquí */
    p{
        font-size: 16px;
    }
    li{
      font-size: 16px;
    }
  }