<!DOCTYPE html>
  <html lang="en">
  <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">  
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="../css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="../css/proyectos.css">
  <title>Mi portafolio</title> 
   <style>  
   </style>
  </head>  
  <body>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <ul class="left">
            <li><a href="/index.html" class="brand-logo left"><i class="large material-icons" id="casa_home">home</i></a></li>
          </ul>
        </div>
      </nav>  
   </div>      
    <main>               
      <div class="row container">
        <h3>Analizando el comportamiento del cliente y las ventas con Power BI.</h3>
        <i class="large material-icons" id="rocket">
          rocket_launch
        </i>
        <div class="col s12 m12 l12  purple lighten-4 hoverable">
          <blockquote>
            <b>Herramientas: </b>Excel, Power Query y Power BI.
          </blockquote>
        </div>
        <p>En el presente informe, se expone un análisis exhaustivo de las ventas y el comportamiento de los clientes, con el objetivo de proporcionar información valiosa que respalde la toma de decisiones más fundamentadas por parte del negocio.</p>
        <img src="/assets/img/portafolio/business_intelligence/businesinteligence.png" class="responsive-img">
        <div class="col s12 m12 l12">      
          <ol>
          <li>Se calculó la suma de ventas por año y se identificó una disminución significativa en las ventas durante el año 2019.</li>
          <li>Se aplicaron filtros de segmentación de fecha para explorar las tendencias de ventas a lo largo del tiempo</li> 
          <li>Se presentan las ventas totales y una segmentación por ciudad.</li>
          <li>Se utiliza un gráfico de torta para visualizar las formas de pago preferidas por los clientes, donde se destaca que el 33% opta por el pago aplazado.</li>
          <li>Se presenta un Top Ten de los productos más vendidos.</li>        
    </ol>
      <p><b>Conclusiones:</b></p>
      <ol>
        <li>Tendencia de Ventas: El análisis revela una caída significativa en las ventas durante el año 2019. Esto podría atribuirse a factores externos como la proxima pandemia o cambios en la estrategia de la empresa.</li>
      <li>Segmentación de Ventas: Se observa una variación en las ventas por ciudad, lo que sugiere oportunidades para centrar los esfuerzos de marketing y ventas en áreas con un alto potencial.</li>
      <li>Formas de Pago: La mayoría de los clientes elige el pago aplazado (33%), lo que podría indicar una preferencia por opciones de pago flexibles. La empresa podría considerar ajustar su estrategia de pago para atender mejor a este segmento de clientes.</li>
    </ol>
  <p>En resumen, este análisis proporciona información valiosa sobre las ventas y el comportamiento de los clientes. Las conclusiones destacan áreas de oportunidad y las recomendaciones estratégicas apuntan a mejorar la rentabilidad y la satisfacción del cliente. La empresa puede utilizar estos conocimientos para tomar decisiones informadas y planificar su estrategia futura.</p>
        </div>
      </div>
      <div class="fixed-action-btn">
        <a href="#" id="#slice_id" class="btn-floating btn-large pink pulse">
        <i class="material-icons">keyboard_arrow_up</i></a>
      </div>
        <footer class="page-footer">
        <div class="container  section scrollspy" id="contacto">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">¡Tu interés significa mucho! 🚀 
              <br>¡Gracias por visitar!  </h5>      
            </div>
            <div class="col l4 offset-l2 s12">
              <!--links del footer-->
              <b><h5 class="white-text">Contacto</h5></b>
              <ul>              
                <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/arianasp/" target="_blank"><i class="fab fa-linkedin"></i>  LinkedIn</a></li>
                <li><a class="grey-text text-lighten-3" href="./assets/files/CV_ArianaSpenza.pdf" target="_blank"><i class="fas fa-file"></i></i> Descarga mi CV</a></li>
                <li><a class="grey-text text-lighten-3" href="mailto:arianaspenza@hotmail.com"><i class="fas fa-envelope"v></i> arianaspenza@hotmail.com</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
            Portafolio de Ariana Spenza
         
          </div>
        </div>
      </footer>
      <script src="../js/materialize.min.js"></script>
      <script src="../js/proyectos.js"></script>  
    </main>
    </body>  
    
    </html>