<!DOCTYPE html>
  <html lang="en">
  <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">  
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="../css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="../css/proyectos.css">
  <title>Mi portafolio</title> 
   <style>  
   </style>
  </head>  
  <body>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <ul class="left">
            <li><a href="/index.html" class="brand-logo left"><i class="material-icons large" id="casa_home">home</i></a></li>
          </ul>
        </div>
      </nav>
     </div>    
    <main>              
  <div class="row container">
    <h3>Guía de 10 pasos para evaluar el impacto de una campaña publicitaria.</h3>
    <i class="large material-icons" id="rocket">
      rocket_launch
    </i>
    <div class="col s12 m12 l12 purple lighten-4 hoverable">
      <blockquote>
        <b>Herramientas: </b>Meta Business Suite, Excel, Power Query y Power BI.
      </blockquote>
    </div>
    <p>El mundo del marketing y la publicidad es una mezcla dinámica de creatividad y análisis. En el siguiente proyecto, tuve la oportunidad de explorar el efecto de una campaña publicitaria utilizando una combinación de herramientas.</p>
    <div class="col s12 m12 l12">      
      <ol>
      <li>Organización de datos fundamentales: Comencé creando una carpeta dedicada para este proyecto, donde centralicé el informe CSV proporcionado por Meta Business Suite.</li><br><img src="/assets/img/portafolio/campaña/marketing_meta.png" class="responsive-img materialboxed">
      <li>Extracción de datos: Utilicé Power Query desde una carpeta para importar los datos y llevar a cabo transformaciones.</li><br><img src="/assets/img/portafolio/campaña/marketing_excelpowerquery.png" class="responsive-img materialboxed">
      <li>Limpieza inicial: Eliminé las columnas vacías que no aportaban información relevante para nuestro análisis.</li>
      <li>Refinamiento de datos: Identifiqué y eliminé columnas con datos sin utilidad o redundantes, manteniendo solo lo esencial.</li>
      <li>Gestión de datos nulos: Detecté y manejé los valores nulos en los datos para garantizar la integridad del análisis.</li>
      <li>Formateo de números: Ajusté los formatos de los datos numéricos para garantizar la precisión.</li>
      <li>Eliminación de filas totalizadoras: Identifiqué y eliminé filas totalizadoras que no eran relevantes para nuestro análisis.</li>
      <li>Creación de tabla de fechas: En el modelo de datos, creé una tabla de fechas fundamental para analizar las tendencias a lo largo del tiempo.</li><br><img src="/assets/img/portafolio/campaña/marketing_tabladatosyfecha.png" class="responsive-img materialboxed">
      <li>Establecimiento de relaciones: Establecí relaciones entre las tablas del informe y las tablas de fechas en el modelo de datos para permitir un análisis más completo.</li><br>
      <li>Visualización de datos: Finalmente, utilicé Power BI para crear gráficos y visualizaciones que revelaron el impacto de la campaña publicitaria de manera efectiva.</li><br><img src="/assets/img/portafolio/campaña/marketing_powerbi.png" class="responsive-img materialboxed">
    </ol>
    
      <p>Como se puede observar en el gráfico presentado, nuestra herramienta de análisis de datos permite filtrar la información por fecha, lo que brinda una visión clara de la efectividad de la campaña publicitaria a lo largo del tiempo.</p> 
      <p>Destaca que la mayoría de las impresiones provienen del grupo demográfico de personas entre 25 y 34 años.</p>
      <p>La campaña tuvo una duración relativamente corta, de tan solo 3 días, durante los cuales logramos obtener un total de 88 clics en el enlace de la página que deseábamos promocionar. Esto demuestra un interés genuino por parte de los usuarios.</p> 
      <p>Uno de los indicadores clave que evaluamos es la tasa de conversión, que representa la proporción de usuarios alcanzados por la publicidad que finalmente realizaron clic en el enlace. Este dato es fundamental para medir la eficacia de la campaña y, en este caso, muestra una tasa positiva.</p>
      <p>Además, el gráfico nos proporciona la suma de clics en el enlace desglosados por género, donde destaca que la mayoría de los clics provienen de hombres, representando un 56.82% del total.</p>  
      <p>Estos datos nos ofrecen una visión integral de la campaña y nos ayudan a tomar decisiones informadas para futuras estrategias de publicidad.</p>
    
    </div>
  </div>
  <div class="fixed-action-btn">
    <a href="#" id="#slice_id" class="btn-floating btn-large pink pulse">
    <i class="material-icons">keyboard_arrow_up</i></a>
  </div>
</main>
    <footer class="page-footer">
    <div class="container  section scrollspy" id="contacto">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">¡Tu interés significa mucho! 🚀 
          <br>¡Gracias por visitar!  </h5>      
        </div>
        <div class="col l4 offset-l2 s12">
          <!--links del footer-->
          <b><h5 class="white-text">Contacto</h5></b>
          <ul>              
            <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/arianasp/" target="_blank"><i class="fab fa-linkedin"></i>  LinkedIn</a></li>
            <li><a class="grey-text text-lighten-3" href="./assets/files/CV_ArianaSpenza.pdf" target="_blank"><i class="fas fa-file"></i></i> Descarga mi CV</a></li>
            <li><a class="grey-text text-lighten-3" href="mailto:arianaspenza@hotmail.com"><i class="fas fa-envelope"v></i> arianaspenza@hotmail.com</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Portafolio de Ariana Spenza
     
      </div>
    </div>
  </footer>
       
    <script src="../js/materialize.min.js"></script>
    <script src="../js/proyectos.js"></script>  
 
  </body>  
  
  </html>