<!DOCTYPE html>
  <html lang="en">
  <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">  
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="../css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="../css/proyectos.css">
  <title>Mi portafolio</title> 
   <style>  
   </style>
  </head>  
  <body>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <ul class="left">
            <li><a href="/index.html" class="brand-logo left large"><i class="large material-icons" id="casa_home">home</i></a></li>
          </ul>
        </div>
      </nav> 
     </div>    
    <main>              
  <div class="row container">
    <h3>Optimización del rendimiento de un restaurante: análisis y estrategias con Tableau.</h3>
    <i class="large material-icons" id="rocket">
      rocket_launch
    </i>
    <div class="col s12 m12 l12  purple lighten-4 hoverable">
      <blockquote>
        <b>Herramientas: </b> Excel y Tableau.
      </blockquote>
    </div>
    <p>En este proyecto, realicé un análisis de un restaurante, en busca de respuestas a sus desafíos operativos. A través de visualizaciones con datos detallados, exploré diversas facetas del negocio para revelar patrones y tendencias. Este proyecto fue realizado con Tableau Public.</p>
    <div class="col s12 m12 l12">      
      <ol>
      <li>En el siguiente gráfico, se puede observar las ventas de vino a lo largo de los meses en relación con otros productos del restaurante. El color morado siginifica la venta de vino por mes, donde en septiembre, las ventas de vino experimientaron una disminución significativa.
      Mientras que las otras categorías se mantuvieron estables.</li><br><img src="/assets/img/portafolio/tableau/ventasvinoes_4.png" class="responsive-img materialboxed">   <br>
      <li>Luego, examiné las ventas de vino según el tipo de cliente. Mientras que el número de clientes nuevos se mantuvo relativamente estable a lo largo del tiempo, los clientes repetidos experimentaron un notable descenso en sus compras a partir de septiembre.</li><br><img src="/assets/img/portafolio/tableau/ventastpoclientemes_1.png" class="responsive-img materialboxed"><br>
      <li>En cuanto a los meseros, se puede visualizar que  uno de ellos, Mauricio, había tenido un inicio tardío en su desempeño, pero rápidamente se convirtió en el líder en ventas. Esto destacaba aún más porque todos los demás meseros mantenían un rendimiento más o menos constante.</li> <br><img src="/assets/img/portafolio/tableau/ventasmesero_3.png" class="responsive-img materialboxed"><br>
      <li>Otro aspecto importante fueron las propinas por mesero, nuevamente Mauricio demostró que era el mesero que recibía las propinas más generosas por ventas de vino. Esto sugería que no solo era un vendedor efectivo, sino que también ofrecía un servicio excepcional.</li> <br> <img src="/assets/img/portafolio/tableau/propinamesero_2.png" class="responsive-img materialboxed">
    </ol>     
  <p>En resumen, mi análisis en Tableau proporcionó una visión integral de los desafíos y las oportunidades que enfrenta el restaurante.</p>
  <ol>
    <li> Se destacó la volatilidad en las ventas de vino, en contraste con otras categorías de productos que mantuvieron ventas estables. La caída en las ventas de vino en septiembre planteó preguntas sobre posibles áreas de mejora.</li>
    <li>Se observó una disminución significativa en las compras de vino por parte de los clientes repetidos a partir de septiembre.</li>
    <li>Se identificó que el desempeño de los meseros se vio afectado por la llegada de un nuevo integrante del equipo, lo que generó una disminución en las ventas de otros meseros. </li>  
  </ol>
   <p>Para evitar pérdidas en septiembre y optimizar el rendimiento del negocio, se pueden considerar mejoras como capacitación y apoyo al personal, programa de fideliación de clientes, diversificación de ofertas y promociones durante septiembre.</p>
    </div>
  </div> 
  <div class="fixed-action-btn">
    <a href="#" id="#slice_id" class="btn-floating btn-large pink pulse">
    <i class="material-icons">keyboard_arrow_up</i></a>
  </div>
    <footer class="page-footer">
    <div class="container  section scrollspy" id="contacto">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">¡Tu interés significa mucho! 🚀 
          <br>¡Gracias por visitar!  </h5>      
        </div>
        <div class="col l4 offset-l2 s12">
          <!--links del footer-->
          <b><h5 class="white-text">Contacto</h5></b>
          <ul>              
            <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/arianasp/" target="_blank"><i class="fab fa-linkedin"></i>  LinkedIn</a></li>
            <li><a class="grey-text text-lighten-3" href="./assets/files/CV_ArianaSpenza.pdf" target="_blank"><i class="fas fa-file"></i></i> Descarga mi CV</a></li>
            <li><a class="grey-text text-lighten-3" href="mailto:arianaspenza@hotmail.com"><i class="fas fa-envelope"v></i> arianaspenza@hotmail.com</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        Portafolio de Ariana Spenza
      
      </div>
    </div>
  </footer>
       
    <script src="../js/materialize.min.js"></script>
    <script src="../js/proyectos.js"></script>  
  </main>
  </body>  
  
  </html>